.jumbotron{
    text-align: center;
    background: none;
}

.sectionlight{
    background-image: url('z.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
