.jumbotron{
    text-align: center;
    background: none;
}

.sectionlight{
    background-image: url('iam.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    padding: 2rem;

}

.sectionDark{
    background-color:rgb(46, 87, 53);
    padding: 2rem;
}

.coolStuffwrapper{
    margin-top: 20px;

}

button.coolStuffwrapperbtn{
    background-color: seagreen;
    color: rgb(12, 12, 12);
    display: block;
    margin: auto;
}

h5.modal-title{
   margin: auto; 
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.footerimg{
    padding: 10px;
    width: 34%;
    height: 100%;
}

.fa{
    margin: 10px;
}
.fa-battle-net{
    color: rgb(14, 73, 44);
}

.fa-cat{
    color: rgb(0, 10, 5);
}

.fa-gitkraken{
    color: rgb(70, 18, 18);
}

.wreappers{
    margin: auto;
}

